@model MagicVilla_Web.Models.Dto.VillaDTO

<div class="card p-2 mt-2">
    <div class="card-header">
        <h1 class="text-primary">Delete Villa</h1>
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="DeleteVilla">
            <input hidden asp-for="Id" />
            
            <div class="col-md-6">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input disabled asp-for="Name" type="text" class="form-control">
                
            </div>
            <div class="col-md-6">
                <label asp-for="Rate" class="form-label">Rate</label>
                <input disabled asp-for="Rate" class="form-control" />
                
            </div>
            <div class="col-12">
                <label asp-for="Details" class="form-label">Address</label>
                <textarea disabled asp-for="Details" class="form-control" rows="4"></textarea>
                
            </div>
            <div class="col-md-6">
                <label asp-for="Sqft" class="form-label"></label>
                <input disabled asp-for="Sqft" class="form-control" />
                
            </div>
            <div class="col-md-6">
                <label asp-for="Occupancy" class="form-label"></label>
                <input disabled asp-for="Occupancy" class="form-control">
                
            </div>
            <div class="col-12">
                <label asp-for="ImageUrl" class="form-label"></label>
                <input disabled asp-for="ImageUrl" class="form-control" />
                
            </div>
            <div class="col-12">
                <label asp-for="Amenity" class="form-label"></label>
                <textarea disabled asp-for="Amenity" class="form-control" rows="2"></textarea>  
            </div>

            <div class="col-12 d-flex justify-content-between">
                <a asp-action="IndexVilla" class="btn btn-primary">Back to list</a>
                <button class="btn btn-danger" type="submit" value="Delete">Eliminar</button>
            </div>
        </form>
    </div>


</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
